@import "tailwindcss";

@theme {
  /* --- Colors --- */
  --color-on-secondary-container: #ddfff4;
  --color-surface-container: #1a1a1a;
  --color-secondary: #4ffcdc;
  --color-on-primary-fixed-variant: #00664c;
  --color-on-tertiary-fixed-variant: #004e5f;
  --color-inverse-surface: #fcf9f8;
  --color-secondary-dim: #3aedce;
  --color-surface-dim: #0e0e0e;
  --color-primary-fixed: #00fdc1;
  --color-tertiary: #74e0ff;
  --color-surface-container-low: #131313;
  --color-on-tertiary: #004e5f;
  --color-primary: #aaffdc;
  --color-error: #ff716c;
  --color-surface-bright: #2c2c2c;
  --color-on-tertiary-container: #004553;
  --color-on-primary-container: #005c44;
  --color-on-error-container: #ffa8a3;
  --color-surface: #0e0e0e;
  --color-surface-container-highest: #262626;
  --color-on-primary-fixed: #004734;
  --color-error-dim: #d7383b;
  --color-tertiary-dim: #00c7ec;
  --color-surface-container-high: #20201f;
  --color-background: #0e0e0e;
  --color-inverse-primary: #006c51;
  --color-on-secondary-fixed-variant: #006858;
  --color-secondary-container: #006b5b;
  --color-on-secondary-fixed: #00483d;
  --color-secondary-fixed-dim: #3aedce;
  --color-on-secondary: #005d4f;
  --color-outline-variant: #484847;
  --color-tertiary-container: #00d5fe;
  --color-primary-container: #00fdc1;
  --color-inverse-on-surface: #565555;
  --color-surface-variant: #262626;
  --color-surface-container-lowest: #000000;
  --color-on-primary: #00654b;
  --color-primary-fixed-dim: #00edb4;
  --color-tertiary-fixed: #00d5fe;
  --color-on-error: #490006;
  --color-on-background: #ffffff;
  --color-outline: #767575;
  --color-tertiary-fixed-dim: #00c7ec;
  --color-secondary-fixed: #4ffcdc;
  --color-surface-tint: #aaffdc;
  --color-primary-dim: #00edb4;
  --color-on-surface-variant: #adaaaa;
  --color-on-tertiary-fixed: #002f39;
  --color-on-surface: #ffffff;
  --color-error-container: #9f0519;

  /* --- Border Radius --- */
  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  /* --- Font Families --- */
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
}
